/**
* * RESET
* ? RESET
*/
*, *::before, *::after{margin: 0;padding: 0;box-sizing: border-box; -webkit-box-sizing: border-box;}
input,select,iframe,button{border: none;font-family: 'Alegreya Sans SC', sans-serif;}
h1,h2,h3{margin: 0; padding: 0;}
ol,ul{list-style: none;}
a{text-decoration: none;color:inherit;}
a:hover{color: #f9014d;}

body{font-family: 'Alegreya Sans SC', sans-serif;font-size: inherit;}